---
import Layout from "@/layouts/Layout.astro";
import TopRightArrow from "@/assets/top-right-arrow.svg";
import { Image } from "astro:assets";

const { frontmatter, slug } = Astro.props;

const monthYear = new Intl.DateTimeFormat("en-US", {
    month: "long",
    year: "numeric",
}).format(frontmatter.pubDate);
---

<Layout
    title={frontmatter.title}
    ogImage={`posts/${slug}-og.png`}
    description={frontmatter.description}
>
    <section
        class="container mb-6 max-w-3xl space-y-8 pt-20 tracking-tight [font-variation-settings:'opsz'_12]"
    >
        <header class="flex justify-between">
            <div class="flex w-1/2 flex-col">
                <h1 class="text-base">{frontmatter.title}</h1>
                <p class="text-muted-foreground">
                    {monthYear}
                </p>
            </div>
            <nav>
                <a href="/posts" class="flex items-center gap-2.5 uppercase"
                    >Posts
                    <Image src={TopRightArrow} alt="arrow" class="size-4" />
                </a>
            </nav>
        </header>
        <slot />
    </section>
</Layout>
